<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="taxCalculator" class="org.example.IncomeTaxCalculator"/>

    <bean id="bonusScheme" class="org.example.PerformanceBonus"/>

    <bean id="payrollProcessor" class="org.example.PayrollProcessor">
        <constructor-arg ref="taxCalculator"/>
        <constructor-arg value="TechCorp Solutions"/>
        <constructor-arg value="2026"/>
        <property name="bonusScheme" ref="bonusScheme"/>
    </bean>

</beans>

